<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>vue-github</title>
  <link rel="stylesheet" type="text/css" href="semantic-ui/css/semantic.min.css" />
</head>
<body>

  <a href="https://github.com/bigbluehat/vue-github">
    <img style="position: absolute; z-index: 1; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">
  </a>

  <div id="vue-github">
    <div v-component="vue-github">
      <div class="ui form">
        <div class="inline fields">
          <div class="ui header field">
            <input type="text" placeholder="user or organization" v-model="user" v-on="change: project = ''" />
          </div>
        <div class="ui huge compact menu" v-component="github-repo-list" v-with="user: user, project: project">
          <div class="ui inline dropdown item"
            v-on="click: this.$el.firstElementChild.classList.toggle('visible')">
            <strong v-if="project" class="text">{{project}}</strong>
            <strong v-if="!project" class="text"><span style="color:#AAA">pick a repo</span></strong>
            <i class="dropdown icon" v-class="disabled: !project"></i>
            <div class="menu">
              <div class="item" v-repeat="items" v-on="click: project = name"
                 v-class="active: project == name">{{name}}</div>
            </div>
          </div>
        </div>


        </div>
      </div>
      <div class="ui segment">
        <div class="ui compact menu" v-component="github-branch-list" v-with="user: user, project: project">
          <div class="ui inline dropdown item" v-on="click: this.$el.firstElementChild.classList.toggle('visible')">
            <strong class="text">{{branch}}</strong> <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" v-class="active: branch == 'master'" v-on="click: branch = 'master'">master</div>
              <div class="item" v-repeat="items" v-on="click: branch = name"
                 v-class="active: branch == name">{{name}}</div>
            </div>
          </div>
        </div>
        <ul v-component="github-commit-list"
            v-with="user: user, project: project, branch: branch">
          <li v-component="github-commit" v-repeat="items"></li>
        </ul>
      </div>
      <div class="ui segment"
          v-component="github-milestone-list"
          v-with="user: user, project: project">
        <h5 class="ui header">Milestones
          <a v-if="htmlUrl" href="{{htmlUrl}}" target="_blank">
            <i class="basic url icon"></i></a></h5>
        <ul class="ui list">
          <li class="item" v-if="!items">no milestones</li>
          <li class="item" v-repeat="items">
          <strong>{{title}}</strong>
          <span class="ui label red">{{open_issues}}</span>
          <span class="ui label">{{closed_issues}}</span>
          </li>
        </ul>
      </div>
      <div class="ui segment"
          v-component="github-issue-list"
          v-with="user: user, project: project">
        <h5 class="ui header">Issues
          <a v-if="htmlUrl" href="{{htmlUrl}}" target="_blank">
            <i class="basic url icon"></i></a></h5>
        <ul class="ui list">
          <li class="item" v-if="!items">no issues</li>
          <li class="item" v-repeat="items">
          {{title}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script id="template-github-commit" type="text/vuejs+html">
  <a href="{{html_url}}" target="_blank" class="commit">
  {{sha.slice(0, 7)}}</a>
  - <span class="message">{{commit.message | truncate}}</span>
  <br>
  by <strong class="author">{{commit.author.name}}</strong>
  at <strong class="date">{{commit.author.date | formatDate}}</strong>
  </script>

    <script src="marked.min.js"></script>
    <script src="vue.min.js"></script>
    <script src="vue-github.js"></script>
    <script>
    var app = new Vue({
      el: '#vue-github',
      data: {
        user: 'hypothesis',
        branch: 'master'
      }
    });
    </script>
</body>
</html>
