<div class="ui fluid list">
  <div class="item" v-if="!items.length">
    <div class="content">
      <h4 class="header disabled">No Milestones</h4>
    </div>
  </div>
  <div class="item" v-repeat="item: items">
    <i class="list layout basic outline icon"></i>
    <div class="content" v-class="active: milestone.number == item.number">
      <div class="header">
        <a href="{{htmlUrl}}?milestone={{item.number}}" target="_blank">
          {{item.title}}</a>
        <strong v-if="item.open_issues" class="ui label red" title="open issues">{{item.open_issues}}</strong>
        <strong v-if="item.closed_issues" class="ui label" title="closed issues">{{item.closed_issues}}</strong>
        <span v-if="item.due_on" class="ui label" style="float: right" title="due date">{{item.due_on | formatDate}}</span>
      </div>
      <div v-component="github-issue-flattened"
          v-with="user: user, project: project, milestone: item, labels: labels, items: $root.items, state: 'all'">
      </div>
      <div v-if="item.description" v-html="item.description | stripComments | marked"></div>
    </div>
  </div>
</div>
