<div class="ui fluid accordion">
  <div class="item" v-if="!items.length">
    <h4 class="disabled">No Milestones</h4>
  </div>
  <div class="item" v-repeat="items">
    <div class="title" v-class="active: milestone.number == number"
      v-on="click: toggleMilestone">
      <i class="dropdown icon"></i>
      {{title}}
      <strong v-if="open_issues" class="ui label red" title="open issues">{{open_issues}}</strong>
      <strong v-if="closed_issues" class="ui label" title="closed issues">{{closed_issues}}</strong>
      <span v-if="due_on" class="ui label" style="float: right">{{due_on | formatDate}}</span>
    </div>
    <div class="content" v-class="active: milestone.number == number">
      <div v-component="github-issue-accordion"
          v-with="user: user, project: project, milestone: milestone, items: $root.items">
      </div>
    </div>
  </div>
</div>
