<h5 class="ui header">Milestones
  <a v-if="htmlUrl" href="{{htmlUrl}}" target="_blank" class="ui top right attached label">
    <i class="basic url icon"></i></a>
  <a v-if="milestone.number" v-on="click: milestone = {}" title="clear milestone">
    <i class="basic cancel circle icon link"></i></a></h5>
<div class="ui fluid vertical menu">
  <div class="item" v-if="!items.length">
    <h4 class="disabled">No Milestones.</h4>
  </div>
  <a class="item" v-class="active: milestone.number == number" v-repeat="items" target="_blank"
    v-on="click: toggleMilestone">
    {{title}}
    <strong v-if="open_issues" class="ui label red" title="open issues">{{open_issues}}</strong>
    <strong v-if="closed_issues" class="ui label" title="closed issues">{{closed_issues}}</strong>
  </a>
</div>
